<div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Admin</li>
          </ol>
          
    </div>

<div class="container-fluid custome-align content-display" align="center">
<h3>Admin Options</h3>
<br>
<br>
<a routerLink="/managing-people" class="btn btn-primary col-md-4 custome-button"><i class="fa fa-users"></i> Managing People</a><br>
<br>
<a routerLink="/managing-transport" class="btn btn-primary col-md-4 custome-button"><i class="fa fa-car"></i> Managing Transport</a><br>
<br>
<a routerLink="/eventpage" class="btn btn-primary col-md-4 custome-button"><i class="fa fa-calendar"></i> Create Event</a><br>
<br>
<a routerLink="/home" class="btn btn-primary col-md-4 custome-button"><i class="fa fa-sign-out"></i> Logout</a>

</div>



