<div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Admin</li>
           
          </ol>
          
    </div>

<div class="container-fluid custome-align" align="center">
<h3>Admin Options</h3>
<br>
<br>
<a routerLink="/managing-people" class="btn btn-primary col-md-4 custome-button">Managing People</a><br>
<br>
<a routerLink="/managing-transport" class="btn btn-primary col-md-4 custome-button">Managing Transport</a><br>
<br>
<a routerLink="/home" class="btn btn-primary col-md-4 custome-button">Logout</a>

</div>



