.custome-align{
    padding: 25px;
}

.custome-button{
    border-radius: 25px;
}

.content-display{
    animation: 2s contDisplay forwards;
}

@keyframes contDisplay {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}