<div>
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/admin">Admin</a></li>
      <li class="breadcrumb-item"><a routerLink="/managing-event">Managing Event</a></li>
      <li class="breadcrumb-item active">Create Event</li>
    </ol>
    
</div>



<form [formGroup]="eventForm">
<div class="content-align-default content-display">
  <label>Time:</label><br>
  <input class="col-md-4" type="time" formControlName="setTime" #settimeInput><br>
  <div class="alert col-md-4 selection-design" *ngIf="!eventForm.controls['setTime'].valid && eventForm.controls['setTime'].touched">Please fill in the time</div>
  <br>

  <label>Date:</label><br>
  <input class="col-md-4" type="date" formControlName="setDate" #setdateInput><br>
  <div class="alert col-md-4 selection-design" *ngIf="!eventForm.controls['setDate'].valid && eventForm.controls['setDate'].touched">Please fill in date</div>
  <br>

  <label>From:</label><br>
  <input class="col-md-4" type="text" formControlName="fromPostcode" #frompostcodeInput><br>
  <div class="alert col-md-4 selection-design" *ngIf="!eventForm.controls['fromPostcode'].valid && eventForm.controls['fromPostcode'].touched">Please fill in location</div>
  <br>

  <label>To:</label><br>
  <input class="col-md-4" type="text" formControlName="toPostcode" #topostcodeInput><br>
  <div class="alert col-md-4 selection-design" *ngIf="!eventForm.controls['toPostcode'].valid && eventForm.controls['toPostcode'].touched">Please fill in destination</div>
  <br>

  <label>Description:</label><br>
  <input class="col-md-4" type="text" formControlName="description" #description><br>
  <div class="alert col-md-4 selection-design" *ngIf="!eventForm.controls['description'].valid && eventForm.controls['description'].touched">Please say something</div>
  <br>
  <input routerLink="/create-event-responds" type="button" class="btn btn-primary col-md-4" value="Submit" [disabled]="!eventForm.valid" (click)="postEvent($event)">
</div>
</form>