<div class="container-fluid content-align-default" align="center">
  <div align="right">
    <a routerLink="/home" class="btn btn-link nav-item">Admin login</a>
  </div>

  <div class="content-display">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div>
        <label>
          <strong>Lifegroup Unit:</strong>
        </label><br>
        <select class="txt col-md-6" #lg formControlName="lifegroup">
          <option *ngFor="let unit of units" value={{unit}}>{{unit}}</option>
        </select>
        <br><br>

        <label>
          <strong>First name</strong>
        </label>
        <br>
        <input class="txt col-md-6" formControlName="firstname" type="text" #firstName>
        <br>
        <div class="alert col-md-6" *ngIf="!signupForm.controls['firstname'].valid && signupForm.controls['firstname'].touched">Please do fill your first name.</div>
        <br>
        <label>
          <strong>Last name</strong>
        </label>
        <br>
        <input class="txt col-md-6" formControlName="lastname" type="text" #lastName>
        <br>
        <div class="alert col-md-6" *ngIf="!signupForm.controls['lastname'].valid && signupForm.controls['lastname'].touched">Please do fill your last name.</div>
        <br>
        <label>
          <strong>Suburb</strong><div *ngIf="suburbs.length ==0 && dirty" class="loader"></div>
        </label>
        <br>
        <input list="matchPostcode" (keyup)="searchPostcode()" formControlName="suburb" class="txt col-md-6" type="text" #suburbInput>
        <div *ngIf="suburbs.length != 0" class="col-md-6 choosing_surburb">
          <ul class="remove_bullet">
            <li *ngFor="let sub of suburbs"><button type="button" class="btn btn-link" (click)="selectSuburb(sub)">{{sub}}</button></li>
          </ul>
        </div>
        <div class="alert col-md-6" *ngIf="!signupForm.controls['suburb'].valid && signupForm.controls['suburb'].touched">Please select a full suburb name from the drop-down list</div>
        <br>
        <br>
        <label> Are you a driver?</label>
        <br>

        <label>Yes
          <input #isDriver (click)="checkDriver()" type="radio" name="driver">
        </label>
        <label>No
          <input #isNotDriver (click)="checkDriver()" type="radio" name="driver" checked>
        </label>

        <br>
        <div *ngIf="driver">
          <strong>Number of seats: </strong>
          <br>
          <input class="col-md-6" type="number" formControlName="numberOfSeats" #seatsInput>
          <div class="alert col-md-6" *ngIf="!signupForm.controls['numberOfSeats'].valid && signupForm.controls['numberOfSeats'].touched">No zero and negative value.</div>
          <br>
        </div>
        <br>
        <br>

        <button type="submit" class="btn btn-primary col-md-6 custome-button" [disabled]="!signupForm.valid">
          <i class="fa fa-check-circle"></i> Submit</button>
      </div>
    </form>
  </div>
</div>