<div class="page">

  <div class="login-align container-fluid content-display" align="center">
    <div align="right">
      <a routerLink="/admin-signup" class="btn btn-link nav-item">Sign up</a>
    </div>
    <h3>Admin Login</h3>
    <div *ngIf="loading" class="loader"></div>

    <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
      <br>
      <label>Lifegroup</label>
      <br>
      <input formControlName="lifegroup" type="text" class="col-md-4" placeholder="Your lifegroup" #lg>
      <br>
      <div class="alert alert-warning col-md-4" role="alert" *ngIf="!adminForm.controls['lifegroup'].valid && adminForm.controls['lifegroup'].touched"> Please key in your lifegroup.</div>
      <br>
      <label>Password</label>
      <br>
      <input formControlName="password" type="password" class="col-md-4" placeholder="Password" #password>
      <br>
      <div class="alert alert-warning col-md-4" role="alert" *ngIf="!adminForm.controls['password'].valid && adminForm.controls['password'].touched"> Please enter your password.</div>
      <br>
      <a routerLink="/reset-password-request">Forgot your password?</a>
      <br>
      <br>
      <button type="submit" class="btn btn-primary col-md-4">
        <i class="fa fa-sign-in"></i> Login</button>
      <br>
      <br>
    </form>

    <strong class="design-alert">*IMPORTANT NOTE*:</strong> If you are not the transport minister, please leave this page by clicking on this
    <a routerLink="/signup">link.</a>
  </div>
</div>