<div class="page">
  <div class="container-fluid content-display" align="center">
    <div align="right">
      <a routerLink="/home" class="btn btn-link nav-item">Login</a>
    </div>
    
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <h3>Forgot Password</h3>
      <p>Please enter your lifegroup unit below. You will receive<br>
         a link on your registered email to reset the password</p>
      <label>lifegroup</label>
      <input class="col-md-4" formControlName="lg" type="text" #lifegroup>
      <span class="alert col-md-4" *ngIf="!resetPasswordForm.controls['lg'].valid && resetPasswordForm.controls['lg'].touched">Please key in the correct format</span>
      <div *ngIf="loading" class="loader"></div>
      <span class="alert alert-info col-md-4" role="alert" *ngIf="sent">You should receive your email very shortly</span>
      <span class="alert alert-warning col-md-4" role="alert" *ngIf="err != ''">{{err}}</span>
      <button type="submit" class="btn btn-warning col-md-4">Send</button>
    </form>
  </div>
</div>