<div>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/managing-people">Manage people</a>
    </li>
    <li class="breadcrumb-item active">Edit profile</li>
  </ol>
</div>

<div class="content-align-default content-display" align="center">
  <form [formGroup]=editForm (ngSubmit)="onSubmit()">
    <strong>Edit {{member['name']}}</strong>
    <br>
    <br>
    <label>Suburb:</label>
    <br>
    <input list="matchPostcode" formControlName="suburb" (keyup)="searchPostcode()" class="txt col-md-4" type="text" #suburbInput
      value="{{member['suburb']}}"><br>
    <div *ngIf="suburbs.length != 0" class="col-md-4 choosing_surburb">
      <ul class="remove_bullet">
        <li *ngFor="let sub of suburbs">
          <button type="button" class="btn btn-link" (click)="selectSuburb(sub)">{{sub}}</button>
        </li>
      </ul>
    </div>
    <div class="alert col-md-4" *ngIf="!editForm.controls['suburb'].valid && editForm.controls['suburb'].touched">Please select a full suburb name from the drop-down list</div>

    <br>
    <label>Seats</label>
    <br>
    <input #seats class="col-md-4" formControlName="seats" type="number" value="{{member['seats']}}">
    <br>
    <div class="alert col-md-4" *ngIf="!editForm.controls['seats'].valid">No negative value.</div>
    <br>
    <br>
    <button class="btn btn-primary custome-button col-md-4" [disabled]="!editForm.valid">Update</button>
    <br>

  </form>

</div>