.confirm-align{
    margin: 5%;
    padding: 5%;
    overflow: auto;
}

.contain-design{
    background-color: #AF7AC5;
}

.text-style{
    color: #1B2631;
}

.result-holder{
    background-color: #AED6F1;
}