<div>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/admin">Admin</a>
    </li>
    <li class="breadcrumb-item active">Managing event</li>
  </ol>

</div>

<div class="container-fluid custome-align content-display" align="center">
  <h3>Managing event</h3>
  <br>
  <br>
  <a routerLink="/eventpage" class="btn btn-primary col-md-4 custome-button">
    <i class="fa fa-users"></i> Create event</a>
  <br>
  <br>
  <a routerLink="/edit-event" class="btn btn-primary col-md-4 custome-button">
    <i class="fa fa-users"></i> Edit event</a>
  <br>

</div>