<div>
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/admin">Admin</a></li>
      <li class="breadcrumb-item"><a routerLink="/managing-event">Managing Event</a></li>
      <li class="breadcrumb-item"><a routerLink="/edit-event">Edit event</a></li>
      <li class="breadcrumb-item active">Editing page</li>
    </ol>
</div>

<div>
  <form [formGroup]="eventEditForm">
    <div class="container">
      <label>Time:</label><br>
        <input type="time" formControlName="time" class="col-md-4 selection-design" #editTimeInput>
        <div class="alert col-md-4 selection-design" *ngIf="!eventEditForm.controls['time'].valid && eventEditForm.controls['time'].touched">Please set the starting time.</div>
        <br>
        <label>Date:</label><br>
        <input type="date" formControlName="date" class="col-md-4 selection-design" #editDateInput>
        <div class="alert col-md-4 selection-design" *ngIf="!eventEditForm.controls['date'].valid && eventEditForm.controls['date'].touched">Please key in the date.</div>
        
        <label>From:</label><br>
        <input type="text" formControlName="from" class="col-md-4 selection-design" #editFromInput>
        <div class="alert col-md-4 selection-design" *ngIf="!eventEditForm.controls['from'].valid && eventEditForm.controls['from'].touched">Please set your starting point.</div>
        
        <label>Destination:</label><br>
        <input type="text" formControlName="destination" class="col-md-4 selection-design" #editToInput>
        <div class="alert col-md-4 selection-design" *ngIf="!eventEditForm.controls['destination'].valid && eventEditForm.controls['destination'].touched">Please set your destination.</div>
        
        <label>Description:</label><br>
        <input type="text" formControlName="description" class="col-md-4 selection-design" #editDescription>
        <div class="alert col-md-4 selection-design" *ngIf="!eventEditForm.controls['description'].valid && eventEditForm.controls['description'].touched">Please give some description.</div>
        
    </div>
    <br>
    <br>
    <button class="btn btn-primary col-md-1 selection-design" (click)="editInfo()"><i class="fa fa-edit"></i> Edit</button>
    

  </form>
</div>