.participantContainer{
    color:whitesmoke;
    background-color:#398ead;
    padding: 25px;
    border-radius: 25px;
    margin: 10px;
}

.passengerContainer{
    color:whitesmoke;
    background-color: #345663;
    padding: 25px;
    border-radius: 25px;
    margin: 10px;
}