<div class="container-fluid content-display" align="center">
    <div align="right">
        <a routerLink="/home" class="btn btn-link nav-item">Login</a>
      </div>
  <h3>Lifegroup Signup</h3>
  <div>
    <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
      <br>
      <label>Lifegroup</label>
      <br>
      <input formControlName="lifegroup" type="text" class="col-md-4" placeholder="Your lifegroup" #lg>
      <br>
      <div class="alert col-md-4" *ngIf="!adminForm.controls['lifegroup'].valid && adminForm.controls['lifegroup'].touched"> Please key in your lifegroup unit</div>
      <br>
      <label>Password</label>
      <br>
      <input formControlName="password" type="password" class="col-md-4" placeholder="Password" #password>
      <br>
      <div class="alert col-md-4" *ngIf="!adminForm.controls['password'].valid && adminForm.controls['password'].touched"> Please enter the password</div>
      <br>
      <br>
      <button type="submit" class="btn btn-primary col-md-4">
        <i class="fa fa-sign-in"></i>Sign up</button>
      <br>
      <br>
    </form>

  </div>