<html>

<body>

    ## ------- Authorization passcodes ------<br /> ## JSON auth: pw1234<br /> ## readme username: admin<br /> ## readme password: badpassword<br /> ## --------------------------------------<br />
    <br /> ## ------- List of methods --------------<br /> ## 1. General<br /> ## |- / [get]<br /> ## |- /readme [get]<br /> ## <br /> ## 2. Permanent Database<br /> ## |- /member [put, post, delete, get]<br /> ## |- /lifegroup [put, delete]<br /> ##
    |- /clear [get]<br /> ## <br /> ## 3. Event handling (yet to be tested)<br /> ## |- /event [put, post]<br /> ## |- /bestmatches [post]<br /> ## <br /> ## 4. Display info<br /> ## |- /attendees [get]<br /> ## ---------------------------------------<br
    />
    <br /> --------------------General Info--------------------------<br /> Here are all the methods that you can call; Also their detailed specifications.<br /> prefix url: transport.hope-church.co.au:3000/api<br />
    <br /> - ok<br /> [get ] /<br /> description: webservice landing (index) page<br />
    <br /> - ok<br /> [get ] /readme<br /> required: http header -- username/password<br /> description: all the detailed specifications<br />
    <br /> ---------------------Lifegroup DB--------------------------<br /> - ok<br /> - * no error msg: never tell whether success or not<br /> [post] /member (old: editPerson)<br /> description: interact with lifegroup database. Edit the postcode of
    a member from a lifegroup.<br /> required
    <auth>: an auth token; just pass string &quot;password1234&quot;<br /> required: {'lg', 'name','postcode','auth'}<br /> return: {'msg'}<br />
        <br /> - ok<br /> - * no error msg: never tell whether success or not<br /> [delete] /member (old: /deletePerson)<br /> description: interact with lifegroup database. Delete a member from a lifegroup.<br /> required: {'lg', 'name', 'auth'}<br
        /> return: {'msg'}<br />
        <br /> - ok<br /> - * buggy when he db is empty<br /> [put ] /member (old: /registerPerson)<br /> description: interact with lifegroup database. Register a member from a lifegroup.<br /> required: {'lg', 'postcode', 'auth'}<br /> return: {'msg'}<br
        />
        <br /> - ok, specific lg<br /> - ok, all lg with auth = 1234<br /> [get ] /member?auth=&amp;lg= (old: showmembers)<br /> description: this method returns all the member's name of a given LG<br /> return: {&quot;members&quot;:
        <array of str>}<br /> example: {<br /> &quot;members&quot;: [<br /> &quot;foo&quot;,&quot;spam&quot;
            <br /> ]
            <br /> }
            <br />
            <br /> - ok in general<br /> - * but, weird lifegroup name can also get registered<br /> [put] /lifegroup (old: addLG)<br /> description: interact with lifegroup database. Add a lifegroup among all LGs (good, multiplying).<br /> required:
            {'lg', 'auth'}<br /> return: {'msg'}<br />
            <br /> - ok<br /> - * no error msg: lifegroup doesnt exist<br /> - * no error msg: double deletion<br /> [delete] /lifegroup (old: addLG)<br /> description: interact with lifegroup database. Delete a lifegroup among all LGs (sad).<br /> required:
            {'lg', 'auth'}<br /> return: {'msg'}<br />
            <br /> - ok<br /> [get ] /clear (old: nuclearbomb)<br /> description: reset everything (only developer has access)<br /> required: http header
            <username/password><br /> return: {'msg'}<br /> --------------------Transport Events Planning -----------------------<br /> [put ] /event (old: createEvent)<br /> description: it creates an ONE WAY transport event. If return trip is required, 2 events have to
                be<br /> created. For example, unidus prayer, Event1-home2unidus and Event2-unidus2home are <br /> required.
                <br /> required: {'lg','postcode_from','postcode_to','note'}<br /> return: {'event_id'} if success; <br /> {'msg'} if failed;<br />
                <br /> [post] /event (old: submit)<br /> description: this method is for general users to submit their attendance to one particular event. If they have confirmed their <br /> need transport / driving, they will need to submit this request
                to register themselves into this event. <br /> parameter
                <postcode_vary>: this postcode is used for identifying starting/destination location if default postcode of this person<br /> is no longer applicable. For example, Bruno lives in 4067. There is a touching heaven prayer tonight;<br /> He will be leaving
                    from city (4000) instead of his own house in the evening. So, his default postcode (4067)<br /> has to be replaced by 4000 because 4067 is no longer useful. <br /> required: {'event_id','lg','name','isDriver','postcode_vary'}<br />                    return: {'msg'}<br />
                    <br /> [post] /bestmatches<br /> description: after knowing who will be going to one particular event, the organizer has to place passengers into driver's car.<br /> This method will look for the best combination f driver &amp; passengers
                    according to their end destination / starting<br /> location. <br /> required: {'event_id','lg'}<br /> return: {driver1:[passenger_names,...], driver2:[p_name,...]...}<br />
                    <br /> --------------------Display Info -----------------------------<br /> - ok<br /> - * err msg exposed to public<br /> [get ] /attendees?event_id=<br /> description: this method returns the list of names and associate with a driver
                    flag<br /> return: {&quot;names&quot;:
                    <array of str>}<br /> example: {<br /> &quot;names&quot;: [<br /> &quot;foobar (driving)&quot;,<br /> &quot;tom (driving)&quot;,&quot;peter&quot;,&quot;john&quot;,&quot;spam&quot;,&quot;foo&quot;]<br /> }
                        <br />
                        <br />
                        <br />
                        <br /> ------------------ General Comment: -----------------<br /> - If one transaction hang, another transaction will hang --> the whoel system will go down<br /> --> bug: When DB is empty, add person, hang -> other requests also
                        hang --> system down<br />
                        <br />
                        <br />
                        <br />

</body>

</html>