.profile-design{
    color: whitesmoke;
    background-color: #4fd6a0;
    border-radius: 25px;
    padding: 10px;
    animation: 2s profDesign forwards;
}

@keyframes profDesign {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.bg-profile-design{
    background-color:#40896c;
    padding: 25px;
    border-radius: 25px;
    animation: 2s backgDesign forwards;
}

@keyframes backgDesign{
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.button-txt-color{
    color: whitesmoke;
}

.selection-design{
    border-radius: 25px;
}

.alert{
    background: #f2edda;
    padding: 7px;
    font-size: .9em;
    margin-bottom: 20px;
    display: inline-block;
    animation: 2s alertAnim forwards;
}


@keyframes alertAnim {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.information-holder{
    padding: 15px;
    border-radius: 25px;
    background-color: #2f3ace;
    color: whitesmoke;
    animation: 2s backgDesign forwards;
}