<div>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/admin">Admin</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/managing-event">Managing Event</a>
    </li>
    <li class="breadcrumb-item active">Edit event</li>
  </ol>
</div>

<form [formGroup]="editForm">

  <div class="bg-profile-design">
    <div class="profile-design">
      <input type="text" [(ngModel)]='query' formControlName="name" class="col-md-4 selection-design" placeholder="Event name..."
        #eventName>
      <br>
      <div class="alert col-md-4 selection-design" style="color:brown" *ngIf="!editForm.controls['name'].valid && editForm.controls['name'].touched">No special characters and numbers.</div>
      <br>
    </div>
  </div>

  <div class="profile-design" *ngFor="let event of (events | filter: query)">

    Event: {{event.name}}
    <br> Time: {{event.time}}
    <br>

    <div align="right">
      <button routerLink="/event-edit-page" class="btn btn-primary selection-design col-md-1">
        <i class="fa fa-edit"></i> Edit</button>
      <button class="btn btn-danger selection-design col-md-1" (click)="delEvent()">
        <i class="fa fa-trash"></i> Delete</button>
      <button class="btn btn-secondary selection-design col-md-1" routerLink="/list-participants">
        <i class="fa fa-user"></i> Participants</button>
      <br>
    </div>

  </div>

</form>