<div>
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/admin">Admin</a></li>
      <li class="breadcrumb-item"><a routerLink="/managing-people">Manage people</a></li>
      <li class="breadcrumb-item active">Edit profile</li>
    </ol>
    
</div>

<div class="content-align-default content-display" align="center">
  <form [formGroup]=editForm> 
    <label><strong>Name:</strong></label><br>
    <input class="col-md-4" formControlName="name" type="text" placeholder="New name..."><br>
    <div class="alert col-md-4" *ngIf="!editForm.controls['name'].valid && editForm.controls['name'].touched">No numbers and special character</div>
    <br>
    <label><strong>Postcode:</strong></label><br>
    <input class="col-md-4" formControlName="postcode" type="text" placeholder="New postcode..."><br>
    <div class="alert col-md-4" *ngIf="!editForm.controls['postcode'].valid && editForm.controls['postcode'].touched">Only allow 4 digit numbers.</div>
    <br>
    <br>
    <button routerLink="/edit-page-respond" class="btn btn-primary custome-button col-md-4" [disabled]="!editForm.valid">Update</button>
    <br>

  </form>

</div>