<div>
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/admin">Admin</a></li>
      <li class="breadcrumb-item"><a routerLink="/managing-people">Manage people</a></li>
      <li class="breadcrumb-item active">Edit profile</li>
    </ol>
</div>

<div class="content-align-default content-display" align="center">
  <form [formGroup]=editForm> 
    <strong>Edit  {{member['name']}}</strong><br>
    <br>
    <label>Postcode:</label><br>
    <input #postcode class="col-md-4" formControlName="postcode" type="text" value="{{member['postcode']}}"><br>
    <div class="alert col-md-4" *ngIf="!editForm.controls['postcode'].valid && editForm.controls['postcode'].touched">Only allow 4 digit numbers.</div><br>
    <!---
    <label>Driver:</label><br>
    <label>Yes 
      <input #isDriver type="radio" name="driver" formControlName="checkDriver">
    </label>
    <label>No 
      <input #isNotDriver type="radio" name="driver" formControlName="checkDriver">
    </label>
    <br>
    -->
    <br>
    <button routerLink="/edit-page-respond" class="btn btn-primary custome-button col-md-4" [disabled]="!editForm.valid" (click)="onEdit()">Update</button>
    <br>

  </form>

</div>