<div>
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/admin">Admin</a></li>
      <li class="breadcrumb-item"><a routerLink="/managing-people">Manage people</a></li>
      <li class="breadcrumb-item active">Edit profile</li>
    </ol>
</div>

<div class="content-align-default content-display" align="center">
  <form [formGroup]=editForm> 
    <strong>Edit  {{member['name']}}</strong><br>
    <br>
    <label>Postcode:</label><br>
    <input #postcode class="col-md-4" formControlName="postcode" type="text" value="{{member['postcode']}}"><br>
    <div class="alert col-md-4" *ngIf="!editForm.controls['postcode'].valid">Only allow 4 digit numbers.</div><br>
    <label>Seats</label><br>
    <input #seats class="col-md-4" formControlName="seats" type="number" value="{{member['seats']}}"><br>
    <div class="alert col-md-6" *ngIf="!editForm.controls['seats'].valid">No negative value.</div>
    <br>
    <button (click)="onEdit()" routerLink="/edit-page-respond" class="btn btn-primary custome-button col-md-4" [disabled]="!editForm.valid">Update</button>
    <br>

  </form>

</div>