<div>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/admin">Admin</a>
    </li>
    <li class="breadcrumb-item active">Managing people</li>
  </ol>
</div>

<form [formGroup]="managingForm">
  <div class="container-fluid">
    <div class="bg-profile-design">
      <div class="profile-design">

        <input type="text" formControlName="name" class="col-md-4 selection-design" (keyup)="onName($event)" placeholder="passenger's/driver's name...">
        <br>
      </div>
      <br>

      <div class="profile-design" *ngFor="let member of members">

        Name: {{member.name}}
        <br> Postcode: {{member.postcode}}
        <br>

        <div align="right">
          <button routerLink="/edit-page" class="btn btn-primary selection-design col-md-1">
            <i class="fa fa-edit"></i> Edit</button>
          <button class="btn btn-danger selection-design col-md-1" (click)="delPeople(event)">
            <i class="fa fa-trash"></i> Delete</button>
        </div>

      </div>

      <br>
      <br>
      <br>


    </div>

  </div>
</form>