.profile-design{
    color: whitesmoke;
    background-color: #4fd6a0;
    border-radius: 25px;
    padding: 10px;
}

.bg-profile-design{
    background-color:#40896c;
    padding: 25px;
    border-radius: 25px;
}

.button-txt-color{
    color: whitesmoke;
}

.selection-design{
    background-color:#058251;
    border-radius: 25px;
}