<div>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/admin">Admin</a>
    </li>
    <li class="breadcrumb-item active">Managing people</li>
  </ol>
</div>

<form [formGroup]="managingForm">
  <div class="container-fluid">
    <div class="bg-profile-design">
      <div class="profile-design">

        <input type="text" formControlName="name" class="col-md-4 selection-design" (keyup)="onName($event)" placeholder="passenger's/driver's name...">
        <br>
      </div>
      <br>

      <div class="profile-design" *ngFor="let member of members">
        <div *ngIf="member.seats > 0">
          Driver: {{member.name}}<br>
          Postcode: {{member.postcode}}<br>
          Seats: {{member.seats}}
        </div>
        <div *ngIf="member.seats == 0">
          Passenger: {{member.name}}<br>
          Postcode: {{member.postcode}}
        </div>

        <div align="right">
          <button class="btn btn-success selection-design col-md-1" (click)="mark(member)">
            <i class="fas fa-check"></i> Tick
          </button>
          <button routerLink="/edit-page" class="btn btn-primary selection-design col-md-1" (click)="editPerson(member)">
            <i class="fa fa-edit"></i> Edit
          </button>
          <button class="btn btn-danger selection-design col-md-1" (click)="delPerson(member.name)">
            <i class="fa fa-trash"></i> Delete
          </button>
        </div>

      </div>

      <br>
      <br>
      <br>


    </div>

  </div>
</form>