<div align="right">
    <button type="button" class="btn btn-link nav-item">Admin login</button>
    </div>
 
 <div class="container-fluid content-align-default" align="center">
   <label><strong>Lifegroup Unit</strong></label><br>
  <input type="text" class="txt col-md-6" name="lifegroup" placeholder="Lifegroup Unit..."><br>
  <label><strong>Name</strong></label><br>
  <input type="text" class="txt col-md-6" name="name" placeholder="Your Name..."><br>
  <label> Are you a driver?</label><br>
  <label>Yes</label>&nbsp;<input type="checkbox" name="Yes" id="">
  <label>No</label>&nbsp;<input type="checkbox" name="No" id=""><br>
  <button type="submit" class="btn btn-primary custome-button col-md-6">Submit</button><br>
  <button type="button" class="btn btn-link col-md-6">New Friend?</button>
</div>
