.content-align-default{
    padding: 15px;
}

.custome-button{
    border-radius: 25px;
}

.alert{
    background: #f2edda;
    padding: 7px;
    font-size: .9em;
    margin-bottom: 20px;
    display: none;
    animation: 2s alertAnim forwards;
}

@keyframes alertAnim {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.content-display{
    animation: 2s contDisplay forwards;
}

@keyframes contDisplay {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#seats {
    display: none;
}

#driverInfo {
    display: none;
}