<div>
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/admin">Admin</a></li>
      <li class="breadcrumb-item active">Managing Lifegroup</li>
    </ol>
    
</div>
<br>

<div class="background-display" align="center">
  <div>
    <input class="col-md-4" type="text">
    <br>
    <br>
    <button class="btn btn-success col-md-4"><i class="fa fa-plus"></i></button>
    <br>
    <br>

    <table class="col-md-6">
      <tr>
        <th align="center">Lifegroup</th>
        <th> </th>
      </tr>
      <td>UQ6</td>
      <td><button class="btn btn-danger col-md-4">Delete</button></td>
    </table>
  </div>
</div>
