<div>
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/admin">Admin</a></li>
      <li class="breadcrumb-item active">Managing Lifegroup</li>
    </ol>
    
</div>
<br>

<div class="background-display" align="center">
  <div>
    <input class="col-md-4" type="text" #lifeGroup>
    <br>
    <br>
    <button class="btn btn-success col-md-4" (click)="addLifeGroup($event)"><i class="fa fa-plus" ></i></button>
    <br>
    <br>

    <table class="col-md-6" *ngFor="let getUnits of getUnit">
      <tr>
        <th align="center">Lifegroup</th>
        <th></th>
      </tr>
      <td >{{getUnits}}</td>
      <td><button class="btn btn-danger col-md-4" (click)="delLifeGroup(i)">Delete</button></td>
    </table>
  </div>
</div>
