<div class="login-align container-fluid" align="center">
  <h3>Admin login</h3>


  <br>
  <label>ID:</label><br>
  <input type="text" class="col-md-6" placeholder="Your ID...">
  <br>
  <br>
  <label>Password:</label><br>
  <input type="password" class="col-md-6" placeholder="Password...">
  <br>
  <br>
  <button type="submit" class="btn btn-default col-md-6">Login</button>
  <br>
  <br>
  <strong class="design-alert">*IMPORTANT NOTE*:</strong> If you are not the person who incharge on transport please leave this page by click on this <a href="#">link.</a>
</div>
