<div class="login-align container-fluid" align="center">
  <h3>Admin login</h3>

  <div *ngIf="!id; else forminfo">
    <form [formGroup]="adminForm" (ngSubmit)="addPost(adminForm.value)">
     <br>
  <label>ID:</label><br>
  <input formControlName="id" type="text" class="col-md-6" placeholder="Your ID..."><br>
  <div class="alert col-md-6" *ngIf="!adminForm.controls['id'].valid && adminForm.controls['id'].touched"> Please key in your ID.</div>
  <br>
  <br>
  <label>Password:</label><br>
  <input formControlName="password" type="password" class="col-md-6" placeholder="Password..."><br>
  <div class="alert col-md-6" *ngIf="!adminForm.controls['password'].valid && adminForm.controls['password'].touched"> Please key in your password.</div>
  <br>
  <br>
  <input type="button" class="btn btn-primary col-md-6 custome-button" value="Login" [disabled]="!adminForm.valid">
  <!--<a routerLink="/admin" class="btn btn-primary col-md-6 custome-button">Login</a>-->
  
    <br>
  <br>
  </form>

  </div>
  
 
  <strong class="design-alert">*IMPORTANT NOTE*:</strong> If you are not the person who incharge on transport please leave this page by click on this <a routerLink="/signup">link.</a>
</div>
