.login-align{
    padding: 25px;
    overflow: auto;
}

.design-alert{
    color: red;
}

.title-align{
    text-align: center;
}

.custome-button{
    border-radius: 25px;
}

.alert{
    background: #f2edda;
    padding: 7px;
    font-size: .9em;
    margin-bottom: 20px;
    display: inline-block;
    animation: 2s alertAnim forwards;
}

@keyframes alertAnim {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}