<div class="page">
    <div class="container-fluid content-display" align="center">
      <div align="right">
        <a routerLink="/home" class="btn btn-link nav-item">Login</a>
      </div>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <h3>Reset Password</h3>
        <div *ngIf="loading" class="loader"></div>
        <label>New Password</label>
        <input class="col-md-4" placeholder="Enter the new password" formControlName="password" type="password" #password>
        <span class="alert alert-success col-md-4" role="alert" *ngIf="success">The password is reset successfully</span>
        <span class="alert alert-warning col-md-4" role="alert" *ngIf="err == 'expired'" >The link has expired, click <a href="http://localhost:4200/reset-password-request">here</a> to get a new link</span>
        <span class="alert alert-warning col-md-4" role="alert" *ngIf="err.length != 0 && err != 'expired'" >{{err}}</span>
        <button type="submit" class="btn btn-warning col-md-4">submit</button>
      </form>
    </div>
  </div>