<section [formGroup]="resetPasswordForm">
  <h3>Reset Password</h3>
  <label>Email</label>
  <input class="col-md-4" formControlName="email" type="email" #email>
  <span class="alert col-md-4" *ngIf="!resetPasswordForm.controls['email'].valid && resetPasswordForm.controls['email'].touched">Please key in the correct format</span>
  <label>New Password</label>
  <input class="col-md-4" formControlName="password" type="password" #password>
  <span class="alert col-md-4" *ngIf="!resetPasswordForm.controls['password'].valid && resetPasswordForm.controls['password'].touched">Please key in new password</span>
  <button class="btn btn-warning col-md-4" (click)="resetPassword()">Reset Password</button>
</section>
