section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;

    label{
        padding-top: 5vh;
    }

    input{
        width: 70vw;
    }

    button{
        margin-top: 5vh;
    }
}