section{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    label{
        font-weight: bold;
        padding-top: 5vh;
    }

    input{
        width: 70vw;
    }

    button{
        margin-top: 5vh;
    }

    .alert{
        background: #f2edda;
        padding: 7px;
        font-size: .9em;
        margin-bottom: 20px;
        display: block;
        animation: 2s alertAnim forwards;
    }
    
    @keyframes alertAnim {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }
    
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}