<div class="page">
    <div class="container-fluid content-display" align="center">
      <div align="right">
        <a routerLink="/home" class="btn btn-link nav-item">Login</a>
      </div>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <h3>Reset Password</h3>
        <label>New Password</label>
        <input class="col-md-4" placeholder="Enter the new password" formControlName="password" type="password" #password>
        <span class="alert col-md-4" *ngIf="!resetPasswordForm.controls['password'].valid && resetPasswordForm.controls['password'].touched">Please enter the password in the correct format</span>
        <button type="submit" class="btn btn-warning col-md-4">submit</button>
      </form>
    </div>
  </div>