<div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Admin</a></li>
        <li class="breadcrumb-item"><a href="#">Managing people</a></li>
        <li class="breadcrumb-item active">Personal infomation</li>
      </ol>
</div>

<div class="container-fluid">
  <label><h4>Name: Patrick</h4></label>
  <br>
  <br>
  <label><h4>Postcode: 4068</h4></label>
  <br>
  <br>
  <button type="button" class="btn btn-warning col-md-6">Edit</button>
  <br>
  <br>
  <button type="button" class="btn btn-danger col-md-6">Delete</button>

</div>
