<div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/admin">Admin</a></li>
        <li class="breadcrumb-item active">Managing Transport</li>
      </ol>
</div>

    
    
<!-- start of the container -->
<div class="content-display">
  
  <div class="special-container" *ngFor="let driver of drivername" (click)="selectionCheck()">
    <strong>Driver: {{driver}}</strong>
    
    <div class="passenger-container">
      <strong>Passenger:</strong>
      <ul>
        <li><div>Patrick <button class="btn btn-link"><i class="fa fa-times-circle"></i></button></div></li>
      </ul>
    </div>
    <div class="container">
        <div >
          <ul *ngFor="let passenger of passengername" >
            <li><input type="checkbox"> <label>{{passenger}}</label> <br></li>
          </ul>
          
        </div>
      
      </div>
  </div>
  <br>
  <br>
  <br>
  <!--this is the end of the container-->
  
   
    <button type="submit" class="btn btn-primary button-align" >Submit</button>
  
  </div>
<br>
<br>

