<div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/admin">Admin</a></li>
        <li class="breadcrumb-item active">Managing Transport</li>
      </ol>
</div>

    
    
<!-- start of the container -->
<form>
<div class="content-display" >
  
  <div class="special-container" *ngFor="let driver of drivers">
    <strong>Driver: {{driver}}</strong>
    
    <div class="passenger-container">
      <strong>Passenger(s):</strong>
      <ul *ngFor="let passenger of selectedPassengers[driver]" >
            <li><div>{{passenger}}<button (click)="cancelAlloc(driver, passenger)" class="btn btn-link"><i class="fa fa-times-circle"></i></button></div></li>
          </ul>
    </div>
    <p>List of available passengers:</p>
    <div class="container passenger">
        <div >
          <ul *ngFor="let passenger of passengers" >
            <button class="btn btn-link" (click)="animatePassenger(driver, passenger)"><li>{{passenger}}</li></button> <br>
          </ul>

          <!--[@passengerVisibility]="visibility" [@passengerDisplay]="display" this is use for animation-->
          
        </div>
      
      </div>
  </div>

  <br>
  <br>
  <br>
  <!--this is the end of the container-->
  
   
    <button type="submit" (click)="generatePlan()" class="btn btn-primary button-align" >Submit</button>

    <div *ngIf="displayPlan" class="container">
      <div *ngFor="let driver of drivers">
        <strong>{{driver}}</strong><br>
        <div *ngFor="let passenger of selectedPassengers[driver]" >
          • {{passenger}}<br>
        </div>
        <br>
      </div>
    </div>

  </div>
<br>
<br>

